<a href="https://colab.research.google.com/github/rpdieego/credit_risk_modeling/blob/master/Credit_Risk_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Credit Risk Modeling

## 1 - Context

## 2 - Data Understanding

### Data Dictionary

*   **addr_state** - The state provided by the borrower in the loan application;
*   **annual_inc** - The self-reported annual income provided by the borrower during registration;
*   **annual_inc_joint** - The combined self-reported annual income provided by the co-borrowers during registration;
*   **application_type** - Indicates whether the loan is an individual application or a joint application with two co-borrowers;
*   **collection_recovery_fee** - post charge off collection fee;
*   **collections_12_mths_ex_med** - Number of collections in 12 months excluding medical collections;
*   **delinq_2yrs** - The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years;
*   **desc** - Loan description provided by the borrower;
*   **dti** - A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income;
*   **dti_joint** - A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income;
*   **earliest_cr_line** - The month the borrower's earliest reported credit line was opened;
*   **emp_length** - Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. ;
*   **emp_title** - The job title supplied by the Borrower when applying for the loan.*
   *  *Employer Title replaces Employer Name for all loans listed after 9 / 23 / 2013*
*   **fico_range_high** - The upper boundary range the borrower’s FICO at loan origination belongs to;
*   **fico_range_low** - The lower boundary range the borrower’s FICO at loan origination belongs to;
*   **funded_amnt** - The total amount committed to that loan at that point in time;
*   **funded_amnt_inv** - The total amount committed by investors for that loan at that point in time;
*   **grade** - LC assigned loan grade;
*   **home_ownership** - The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.;
*   **id** - A unique LC assigned ID for the loan listing;
*   **initial_list_status** - The initial listing status of the loan;
   * Possible values are – **W**, **F**
*   **inq_last_6mths** - The number of inquiries in past 6 months (excluding auto and mortgage inquiries);
*   **installment** - The monthly payment owed by the borrower if the loan originates;
*   **int_rate** - Interest Rate on the loan;
*   **is_inc_v** - Indicates if income was verified by LC, not verified, or if the income source was verified;
*   **issue_d** - The month which the loan was funded;
*   **last_credit_pull_d** - The most recent month LC pulled credit for this loan;
*   **last_fico_range_high** - The upper boundary range the borrower’s last FICO pulled belongs to.;
*   **last_fico_range_low** - The lower boundary range the borrower’s last FICO pulled belongs to.
*   **last_pymnt_amnt** - Last total payment amount received;
*   **last_pymnt_d** - Last month payment was received;
*   **loan_amnt** - The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value;
*   **loan_status** - Current status of the loan;
*   **member_id** - A unique LC assigned Id for the borrower member;
*   **mths_since_last_delinq** - The number of months since the borrower's last delinquency.;
*   **mths_since_last_major_derog** - Months since most recent 90-day or worse rating;
*   **mths_since_last_record** - The number of months since the last public record;
*   **next_pymnt_d** - Next scheduled payment date;
*   **open_acc** - The number of open credit lines in the borrower's credit file.;
*   **out_prncp** - Remaining outstanding principal for total amount funded;
*   **out_prncp_inv** - Remaining outstanding principal for portion of total amount funded by investors;
*   **policy_code** - 
   * 1: publicly available policy;
   * 2: new products not publicly available policy;
*   **pub_rec** - Number of derogatory public records;
*   **purpose** - A category provided by the borrower for the loan request;
*   **pymnt_plan** - Indicates if a payment plan has been put in place for the loan;
*   **recoveries** - post charge off gross recovery;
*   **revol_bal** - Total credit revolving balance;
*   **revol_util** - Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit;
*   **sub_grade** - LC assigned loan subgrade;
*   **term** - The number of payments on the loan. Values are in months and can be either 36 or 60;
*   **title** - The loan title provided by the borrower;
*   **total_acc** - The total number of credit lines currently in the borrower's credit file;
*   **total_pymnt** - Payments received to date for total amount funded;
*   **total_pymnt_inv** - Payments received to date for portion of total amount funded by investors;
*   **total_rec_int** - Interest received to date;
*   **total_rec_late_fee** - Late fees received to date;
*   **total_rec_prncp** - Principal received to date;
*   **url** - URL for the LC page with listing data;
*   **verified_status_joint** - Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified;
*   **zip_code** - The first 3 numbers of the zip code provided by the borrower in the loan application;
*   **open_acc_6m** - Number of open trades in last 6 months;
*   **open_il_6m** - Number of currently active installment trades;
*   **open_il_12m** - Number of installment accounts opened in past 12 months;
*   **open_il_24m** - Number of installment accounts opened in past 24 months;
*   **mths_since_rcnt_il** - Months since most recent installment accounts opened;
*   **total_bal_il** - Total current balance of all installment accounts;
*   **il_util** - Ratio of total current balance to high credit/credit limit on all install acct;
*   **open_rv_12m** - Number of revolving trades opened in past 12 months;
*   **open_il_24m** - Number of installment accounts opened in past 24 months;
*   **mths_since_rcnt_il** - Months since most recent installment accounts opened;
*   **total_bal_il** - Total current balance of all installment accounts;
*   **il_util** - Ratio of total current balance to high credit/credit limit on all install acct.
*   **open_rv_12m** - Number of revolving trades opened in past 12 months;
*   **open_rv_24m** - Number of revolving trades opened in past 24 months;
*   **max_bal_bc** - Maximum current balance owed on all revolving accounts;
*   **all_util** - Balance to credit limit on all trades;
*   **total_rev_hi_lim** - Total revolving high credit/credit limit;
*   **inq_fi** - Number of personal finance inquiries;
*   **total_cu_tl** - Number of finance trades;
*   **inq_last_12m** - Number of credit inquiries in past 12 months;
*   **acc_now_delinq** - The number of accounts on which the borrower is now delinquent;
*   **tot_coll_amt** - Total collection amounts ever owed;
*   **tot_cur_bal** - Total current balance of all accounts;

## 3 - Data Preprocessing

In [41]:
import pandas as pd
import numpy as np

from datetime import date

from sklearn.model_selection import train_test_split

In [3]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [4]:
# Import creditcard.csv from Google Drive

link = 'https://drive.google.com/open?id=1zzsUZOgObyZ9l8-GzapqFyL9HIZeztcw'

fluff, id = link.split('=')
print (id) # Verify that we have everything after '='

downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('loan_data_2007_2014.csv')  
lc_df = pd.read_csv('loan_data_2007_2014.csv')

print('\nLoans Dataframe: \n Features: \t {} \n Inputs: \t {}'.format(lc_df.shape[1], lc_df.shape[0]))
print('\n')

1zzsUZOgObyZ9l8-GzapqFyL9HIZeztcw

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Loans Dataframe:
 Features: 	 75
 Inputs: 	 466285

In [5]:
# Display dataset's head
lc_df.head()

   Unnamed: 0       id  member_id  ...  inq_fi  total_cu_tl  inq_last_12m
0           0  1077501    1296599  ...     NaN          NaN           NaN
1           1  1077430    1314167  ...     NaN          NaN           NaN
2           2  1077175    1313524  ...     NaN          NaN           NaN
3           3  1076863    1277178  ...     NaN          NaN           NaN
4           4  1075358    1311748  ...     NaN          NaN           NaN

[5 rows x 75 columns]

In [6]:
# Check the data type of each feature on the dataset
lc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125983 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466265 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

In [7]:
# Create a copy of lc_df, and use this point as a checkpoint
loan_df = lc_df.copy()

### 3.1) Preprocessing few continuous variables

**emp_lenght**

In [8]:
# Check unique values of 'emp_lenght' feature
loan_df['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [9]:
# Remove unnecessary text from strings, keeping only the numerical value
loan_df['emp_length_int'] =  loan_df['emp_length'].str.replace('\+ years', '')
loan_df['emp_length_int'] =  loan_df['emp_length_int'].str.replace('< 1 year', str(0))
loan_df['emp_length_int'] =  loan_df['emp_length_int'].str.replace('n/a', str(0))
loan_df['emp_length_int'] =  loan_df['emp_length_int'].str.replace(' years', '')
loan_df['emp_length_int'] =  loan_df['emp_length_int'].str.replace(' year', '')

# Convert data type from string to float
loan_df['emp_length_int'] = pd.to_numeric(loan_df['emp_length_int'])

In [10]:
# Check unique values of 'emp_lenght_int' feature
loan_df['emp_length_int'].unique()

array([10.,  0.,  1.,  3.,  8.,  9.,  4.,  5.,  6.,  2.,  7., nan])

**term**

In [11]:
# Check unique values of 'term' feature
loan_df['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [12]:
# Remove unnecessary text from strings, keeping only the numerical value
loan_df['term_int'] =  loan_df['term'].str.replace(' months', '')

# Convert data type from string to float
loan_df['term_int'] = pd.to_numeric(loan_df['term_int'])

In [13]:
# Check unique values of 'term' feature
loan_df['term_int'].unique()

array([36, 60])

**earliest_cr_line**

In [14]:
# Check feature data
loan_df['earliest_cr_line']

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

In [15]:
# Convert data to datetime format
loan_df['earliest_cr_line_date'] = pd.to_datetime(loan_df['earliest_cr_line'], format = '%b-%y')

In [16]:
# Check convertion
loan_df['earliest_cr_line_date']

0        1985-01-01
1        1999-04-01
2        2001-11-01
3        1996-02-01
4        1996-01-01
            ...
466280   2003-04-01
466281   1997-06-01
466282   2001-12-01
466283   2003-02-01
466284   2000-02-01
Name: earliest_cr_line_date, Length: 466285, dtype: datetime64[ns]

In [17]:
# Calculate how much time has passed since the event

# today's date
today = date.today()
print("Today's date:", today)

# calculate time period in days
pd.to_datetime(today) - loan_df['earliest_cr_line_date']

Today's date: 2020-08-12

0        13007 days
1         7804 days
2         6859 days
3         8959 days
4         8990 days
            ...
466280    6343 days
466281    8473 days
466282    6829 days
466283    6402 days
466284    7498 days
Name: earliest_cr_line_date, Length: 466285, dtype: timedelta64[ns]

In [18]:
# get the time period in months instead of days
loan_df['mths_since_earliest_cr_line'] =  round(pd.to_numeric((pd.to_datetime(today) - loan_df['earliest_cr_line_date']) / np.timedelta64(1,'M')))

In [19]:
loan_df['mths_since_earliest_cr_line']

0         427.0
1         256.0
2         225.0
3         294.0
4         295.0
          ...
466280    208.0
466281    278.0
466282    224.0
466283    210.0
466284    246.0
Name: mths_since_earliest_cr_line, Length: 466285, dtype: float64

In [20]:
loan_df['mths_since_earliest_cr_line'].describe()

count    466256.000000
mean        271.482430
std          93.974829
min        -580.000000
25%         215.000000
50%         257.000000
75%         317.000000
max         619.000000
Name: mths_since_earliest_cr_line, dtype: float64

There are negative values for time, which needs to be fixed

In [21]:
# Check negative values of time
loan_df.loc[:, ['earliest_cr_line','earliest_cr_line_date', 'mths_since_earliest_cr_line']][loan_df['mths_since_earliest_cr_line'] < 0]

       earliest_cr_line earliest_cr_line_date  mths_since_earliest_cr_line
1580             Sep-62            2062-09-01                       -505.0
1770             Sep-68            2068-09-01                       -577.0
2799             Sep-64            2064-09-01                       -529.0
3282             Sep-67            2067-09-01                       -565.0
3359             Feb-65            2065-02-01                       -534.0
...                 ...                   ...                          ...
464003           Jan-68            2068-01-01                       -569.0
464260           Jul-66            2066-07-01                       -551.0
465100           Oct-67            2067-10-01                       -566.0
465500           Sep-67            2067-09-01                       -565.0
465655           Jan-56            2056-01-01                       -425.0

[1169 rows x 3 columns]

What might have happened here, is that dates before 1970 were interpreted wrong, and conveted to 206x during the date time convertion.
One simple way to solve this, is to assign the maximum value of this feature to all the entries with negative values, as the original values would be higher that that anyway. (The amount of entries with this issue is not so high compared to the total amount, so it shall be ok to follow like this);

In [22]:
loan_df['mths_since_earliest_cr_line'][loan_df['mths_since_earliest_cr_line'] < 0] = loan_df['mths_since_earliest_cr_line'].max()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
loan_df['mths_since_earliest_cr_line'].describe()

count    466256.000000
mean        274.385374
std          86.460310
min         105.000000
25%         216.000000
50%         258.000000
75%         317.000000
max         619.000000
Name: mths_since_earliest_cr_line, dtype: float64

**issue_date**

In [24]:
# Check feature data
loan_df['issue_d']

0         Dec-11
1         Dec-11
2         Dec-11
3         Dec-11
4         Dec-11
           ...
466280    Jan-14
466281    Jan-14
466282    Jan-14
466283    Jan-14
466284    Jan-14
Name: issue_d, Length: 466285, dtype: object

In [25]:
# Convert data to datetime format
loan_df['issue_d_date'] = pd.to_datetime(loan_df['issue_d'], format = '%b-%y')

In [26]:
# Check converted data
loan_df['issue_d_date']

0        2011-12-01
1        2011-12-01
2        2011-12-01
3        2011-12-01
4        2011-12-01
            ...
466280   2014-01-01
466281   2014-01-01
466282   2014-01-01
466283   2014-01-01
466284   2014-01-01
Name: issue_d_date, Length: 466285, dtype: datetime64[ns]

In [27]:
# get the time period in months instead of days
loan_df['mths_issue_d'] =  round(pd.to_numeric((pd.to_datetime(today) - loan_df['issue_d_date']) / np.timedelta64(1,'M')))

In [28]:
loan_df['mths_since_earliest_cr_line'].describe()

count    466256.000000
mean        274.385374
std          86.460310
min         105.000000
25%         216.000000
50%         258.000000
75%         317.000000
max         619.000000
Name: mths_since_earliest_cr_line, dtype: float64

### 3.2) Preprocessing few discrete variables

**Get dummy variables**

In [29]:
loan_data_dummies = [pd.get_dummies(loan_df['grade'], prefix = 'Grade', prefix_sep = ':'),
                     pd.get_dummies(loan_df['sub_grade'], prefix = 'Sub_grade', prefix_sep = ':'),
                     pd.get_dummies(loan_df['home_ownership'], prefix = 'Home_ownership', prefix_sep = ':'),
                     pd.get_dummies(loan_df['verification_status'], prefix = 'Verification_status', prefix_sep = ':'),
                     pd.get_dummies(loan_df['loan_status'], prefix = 'Loan_status', prefix_sep = ':'),
                     pd.get_dummies(loan_df['purpose'], prefix = 'Purpose', prefix_sep = ':'),
                     pd.get_dummies(loan_df['addr_state'], prefix = 'Addr_state', prefix_sep = ':'),
                     pd.get_dummies(loan_df['initial_list_status'], prefix = 'Initial_list_status', prefix_sep = ':')]

In [30]:
#Concatenate dummie variables into a data frame
loan_data_dummies = pd.concat(loan_data_dummies, axis = 1)

In [31]:
loan_data_dummies

        Grade:A  Grade:B  ...  Initial_list_status:f  Initial_list_status:w
0             0        1  ...                      1                      0
1             0        0  ...                      1                      0
2             0        0  ...                      1                      0
3             0        0  ...                      1                      0
4             0        1  ...                      1                      0
...         ...      ...  ...                    ...                    ...
466280        0        0  ...                      0                      1
466281        0        0  ...                      1                      0
466282        0        0  ...                      1                      0
466283        1        0  ...                      0                      1
466284        0        0  ...                      1                      0

[466285 rows x 126 columns]

In [32]:
# Concatenate the dataframe of dummie variables with the original dataframe
loan_df = pd.concat([loan_df, loan_data_dummies ], axis = 1)

In [33]:
# Check new data frame
loan_df.columns.values

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'emp_length_int', 'term_int', 'earliest_cr_line_date',
       'mths_since_earliest_cr_line', 'issue_d_date', 'mths_issue_d',
       'Grade:A', 'Grade:B', 'Grade:C', 'Grade:D', 'Grade:E', 'Grade:F',
       'Grade:G', 'Sub_grade:A1', 'Sub_grade:A2', 'Sub_grade:A3',
       'Sub_grade:A4', 'Sub_grade:A5', 'Sub_grade:B1', 'Sub_grade:B2',
       'Sub_grade:B3', 'Sub_grade:B4', 'Sub_grade:B5', 'Sub_grade:C1',
       'Sub_grade:C2', 'Sub_grade:C3', 'Sub_grade:C4', 'Sub_grade:C5',
       'Sub_grade:D1', 'Sub_grade:D2', 'Sub_grade:D3', 'Sub_grade:D4',
       'Sub_grade:D5', 'Sub_grade:E1', 'Sub_grade:E2', 'Sub_grade:E3',
       'Sub_grade:E4', 'Sub_grade:E5', 'Sub_grade:F1', 'Sub_grade:F2',
       'Sub_grade:F3', 'Sub_grade:F4', 'Sub_grade:F5', 'Sub_grade:G1',
       'Sub_grade:G2', 'Sub_grade:G3', 'Sub_grade:G4', 'Sub_grade:G5',
       'Home_ownership:ANY', 'Home_ownership:MORTGAGE',
       'Home_ownership:NONE', 'Home_ownership:OTHER',
       'Home_ownership:OWN', 'Home_ownership:RENT',
       'Verification_status:Not Verified',
       'Verification_status:Source Verified',
       'Verification_status:Verified', 'Loan_status:Charged Off',
       'Loan_status:Current', 'Loan_status:Default',
       'Loan_status:Does not meet the credit policy. Status:Charged Off',
       'Loan_status:Does not meet the credit policy. Status:Fully Paid',
       'Loan_status:Fully Paid', 'Loan_status:In Grace Period',
       'Loan_status:Late (16-30 days)', 'Loan_status:Late (31-120 days)',
       'Purpose:car', 'Purpose:credit_card', 'Purpose:debt_consolidation',
       'Purpose:educational', 'Purpose:home_improvement', 'Purpose:house',
       'Purpose:major_purchase', 'Purpose:medical', 'Purpose:moving',
       'Purpose:other', 'Purpose:renewable_energy',
       'Purpose:small_business', 'Purpose:vacation', 'Purpose:wedding',
       'Addr_state:AK', 'Addr_state:AL', 'Addr_state:AR', 'Addr_state:AZ',
       'Addr_state:CA', 'Addr_state:CO', 'Addr_state:CT', 'Addr_state:DC',
       'Addr_state:DE', 'Addr_state:FL', 'Addr_state:GA', 'Addr_state:HI',
       'Addr_state:IA', 'Addr_state:ID', 'Addr_state:IL', 'Addr_state:IN',
       'Addr_state:KS', 'Addr_state:KY', 'Addr_state:LA', 'Addr_state:MA',
       'Addr_state:MD', 'Addr_state:ME', 'Addr_state:MI', 'Addr_state:MN',
       'Addr_state:MO', 'Addr_state:MS', 'Addr_state:MT', 'Addr_state:NC',
       'Addr_state:NE', 'Addr_state:NH', 'Addr_state:NJ', 'Addr_state:NM',
       'Addr_state:NV', 'Addr_state:NY', 'Addr_state:OH', 'Addr_state:OK',
       'Addr_state:OR', 'Addr_state:PA', 'Addr_state:RI', 'Addr_state:SC',
       'Addr_state:SD', 'Addr_state:TN', 'Addr_state:TX', 'Addr_state:UT',
       'Addr_state:VA', 'Addr_state:VT', 'Addr_state:WA', 'Addr_state:WI',
       'Addr_state:WV', 'Addr_state:WY', 'Initial_list_status:f',
       'Initial_list_status:w'], dtype=object)

### 3.3) Check for missing values and cleaning data

In [34]:
# Check number of missing values in each feature
pd.options.display.max_rows = None
loan_df.isnull().sum()

Unnamed: 0                                                              0
id                                                                      0
member_id                                                               0
loan_amnt                                                               0
funded_amnt                                                             0
funded_amnt_inv                                                         0
term                                                                    0
int_rate                                                                0
installment                                                             0
grade                                                                   0
sub_grade                                                               0
emp_title                                                           27588
emp_length                                                          21008
home_ownership                                                          0
annual_inc                                                              4
verification_status                                                     0
issue_d                                                                 0
loan_status                                                             0
pymnt_plan                                                              0
url                                                                     0
desc                                                               340302
purpose                                                                 0
title                                                                  20
zip_code                                                                0
addr_state                                                              0
dti                                                                     0
delinq_2yrs                                                            29
earliest_cr_line                                                       29
inq_last_6mths                                                         29
mths_since_last_delinq                                             250351
mths_since_last_record                                             403647
open_acc                                                               29
pub_rec                                                                29
revol_bal                                                               0
revol_util                                                            340
total_acc                                                              29
initial_list_status                                                     0
out_prncp                                                               0
out_prncp_inv                                                           0
total_pymnt                                                             0
total_pymnt_inv                                                         0
total_rec_prncp                                                         0
total_rec_int                                                           0
total_rec_late_fee                                                      0
recoveries                                                              0
collection_recovery_fee                                                 0
last_pymnt_d                                                          376
last_pymnt_amnt                                                         0
next_pymnt_d                                                       227214
last_credit_pull_d                                                     42
collections_12_mths_ex_med                                            145
mths_since_last_major_derog                                        367311
policy_code                                                             0
application_type                                                        0
annual_inc_joint                                                   466285
dti_joint                                                          466285
verification_status_joint                                          466285
acc_now_delinq                                                         29
tot_coll_amt                                                        70276
tot_cur_bal                                                         70276
open_acc_6m                                                        466285
open_il_6m                                                         466285
open_il_12m                                                        466285
open_il_24m                                                        466285
mths_since_rcnt_il                                                 466285
total_bal_il                                                       466285
il_util                                                            466285
open_rv_12m                                                        466285
open_rv_24m                                                        466285
max_bal_bc                                                         466285
all_util                                                           466285
total_rev_hi_lim                                                    70276
inq_fi                                                             466285
total_cu_tl                                                        466285
inq_last_12m                                                       466285
emp_length_int                                                      21008
term_int                                                                0
earliest_cr_line_date                                                  29
mths_since_earliest_cr_line                                            29
issue_d_date                                                            0
mths_issue_d                                                            0
Grade:A                                                                 0
Grade:B                                                                 0
Grade:C                                                                 0
Grade:D                                                                 0
Grade:E                                                                 0
Grade:F                                                                 0
Grade:G                                                                 0
Sub_grade:A1                                                            0
Sub_grade:A2                                                            0
Sub_grade:A3                                                            0
Sub_grade:A4                                                            0
Sub_grade:A5                                                            0
Sub_grade:B1                                                            0
Sub_grade:B2                                                            0
Sub_grade:B3                                                            0
Sub_grade:B4                                                            0
Sub_grade:B5                                                            0
Sub_grade:C1                                                            0
Sub_grade:C2                                                            0
Sub_grade:C3                                                            0
Sub_grade:C4                                                            0
Sub_grade:C5                                                            0
Sub_grade:D1                                                            0
Sub_grade:D2                                                            0
Sub_grade:D3                                                            0
Sub_grade:D4                                                            0
Sub_grade:D5                                                            0
Sub_grade:E1                                                            0
Sub_grade:E2                                                            0
Sub_grade:E3                                                            0
Sub_grade:E4                                                            0
Sub_grade:E5                                                            0
Sub_grade:F1                                                            0
Sub_grade:F2                                                            0
Sub_grade:F3                                                            0
Sub_grade:F4                                                            0
Sub_grade:F5                                                            0
Sub_grade:G1                                                            0
Sub_grade:G2                                                            0
Sub_grade:G3                                                            0
Sub_grade:G4                                                            0
Sub_grade:G5                                                            0
Home_ownership:ANY                                                      0
Home_ownership:MORTGAGE                                                 0
Home_ownership:NONE                                                     0
Home_ownership:OTHER                                                    0
Home_ownership:OWN                                                      0
Home_ownership:RENT                                                     0
Verification_status:Not Verified                                        0
Verification_status:Source Verified                                     0
Verification_status:Verified                                            0
Loan_status:Charged Off                                                 0
Loan_status:Current                                                     0
Loan_status:Default                                                     0
Loan_status:Does not meet the credit policy. Status:Charged Off         0
Loan_status:Does not meet the credit policy. Status:Fully Paid          0
Loan_status:Fully Paid                                                  0
Loan_status:In Grace Period                                             0
Loan_status:Late (16-30 days)                                           0
Loan_status:Late (31-120 days)                                          0
Purpose:car                                                             0
Purpose:credit_card                                                     0
Purpose:debt_consolidation                                              0
Purpose:educational                                                     0
Purpose:home_improvement                                                0
Purpose:house                                                           0
Purpose:major_purchase                                                  0
Purpose:medical                                                         0
Purpose:moving                                                          0
Purpose:other                                                           0
Purpose:renewable_energy                                                0
Purpose:small_business                                                  0
Purpose:vacation                                                        0
Purpose:wedding                                                         0
Addr_state:AK                                                           0
Addr_state:AL                                                           0
Addr_state:AR                                                           0
Addr_state:AZ                                                           0
Addr_state:CA                                                           0
Addr_state:CO                                                           0
Addr_state:CT                                                           0
Addr_state:DC                                                           0
Addr_state:DE                                                           0
Addr_state:FL                                                           0
Addr_state:GA                                                           0
Addr_state:HI                                                           0
Addr_state:IA                                                           0
Addr_state:ID                                                           0
Addr_state:IL                                                           0
Addr_state:IN                                                           0
Addr_state:KS                                                           0
Addr_state:KY                                                           0
Addr_state:LA                                                           0
Addr_state:MA                                                           0
Addr_state:MD                                                           0
Addr_state:ME                                                           0
Addr_state:MI                                                           0
Addr_state:MN                                                           0
Addr_state:MO                                                           0
Addr_state:MS                                                           0
Addr_state:MT                                                           0
Addr_state:NC                                                           0
Addr_state:NE                                                           0
Addr_state:NH                                                           0
Addr_state:NJ                                                           0
Addr_state:NM                                                           0
Addr_state:NV                                                           0
Addr_state:NY                                                           0
Addr_state:OH                                                           0
Addr_state:OK                                                           0
Addr_state:OR                                                           0
Addr_state:PA                                                           0
Addr_state:RI                                                           0
Addr_state:SC                                                           0
Addr_state:SD                                                           0
Addr_state:TN                                                           0
Addr_state:TX                                                           0
Addr_state:UT                                                           0
Addr_state:VA                                                           0
Addr_state:VT                                                           0
Addr_state:WA                                                           0
Addr_state:WI                                                           0
Addr_state:WV                                                           0
Addr_state:WY                                                           0
Initial_list_status:f                                                   0
Initial_list_status:w                                                   0
dtype: int64

In [35]:
# Fill missing values with the mean of annual_inc
loan_df['annual_inc'].fillna(loan_df['annual_inc'].mean(), inplace=True)

In [36]:
# Fill missing values with zero
loan_df['mths_since_earliest_cr_line'].fillna(0, inplace=True)
loan_df['acc_now_delinq'].fillna(0, inplace=True)
loan_df['total_acc'].fillna(0, inplace=True)
loan_df['pub_rec'].fillna(0, inplace=True)
loan_df['open_acc'].fillna(0, inplace=True)
loan_df['inq_last_6mths'].fillna(0, inplace=True)
loan_df['delinq_2yrs'].fillna(0, inplace=True)
loan_df['emp_length_int'].fillna(0, inplace=True)

In [37]:
# Check number of missing values in each feature
pd.options.display.max_rows = None
loan_df.isnull().sum()

Unnamed: 0                                                              0
id                                                                      0
member_id                                                               0
loan_amnt                                                               0
funded_amnt                                                             0
funded_amnt_inv                                                         0
term                                                                    0
int_rate                                                                0
installment                                                             0
grade                                                                   0
sub_grade                                                               0
emp_title                                                           27588
emp_length                                                          21008
home_ownership                                                          0
annual_inc                                                              0
verification_status                                                     0
issue_d                                                                 0
loan_status                                                             0
pymnt_plan                                                              0
url                                                                     0
desc                                                               340302
purpose                                                                 0
title                                                                  20
zip_code                                                                0
addr_state                                                              0
dti                                                                     0
delinq_2yrs                                                             0
earliest_cr_line                                                       29
inq_last_6mths                                                          0
mths_since_last_delinq                                             250351
mths_since_last_record                                             403647
open_acc                                                                0
pub_rec                                                                 0
revol_bal                                                               0
revol_util                                                            340
total_acc                                                               0
initial_list_status                                                     0
out_prncp                                                               0
out_prncp_inv                                                           0
total_pymnt                                                             0
total_pymnt_inv                                                         0
total_rec_prncp                                                         0
total_rec_int                                                           0
total_rec_late_fee                                                      0
recoveries                                                              0
collection_recovery_fee                                                 0
last_pymnt_d                                                          376
last_pymnt_amnt                                                         0
next_pymnt_d                                                       227214
last_credit_pull_d                                                     42
collections_12_mths_ex_med                                            145
mths_since_last_major_derog                                        367311
policy_code                                                             0
application_type                                                        0
annual_inc_joint                                                   466285
dti_joint                                                          466285
verification_status_joint                                          466285
acc_now_delinq                                                          0
tot_coll_amt                                                        70276
tot_cur_bal                                                         70276
open_acc_6m                                                        466285
open_il_6m                                                         466285
open_il_12m                                                        466285
open_il_24m                                                        466285
mths_since_rcnt_il                                                 466285
total_bal_il                                                       466285
il_util                                                            466285
open_rv_12m                                                        466285
open_rv_24m                                                        466285
max_bal_bc                                                         466285
all_util                                                           466285
total_rev_hi_lim                                                    70276
inq_fi                                                             466285
total_cu_tl                                                        466285
inq_last_12m                                                       466285
emp_length_int                                                          0
term_int                                                                0
earliest_cr_line_date                                                  29
mths_since_earliest_cr_line                                             0
issue_d_date                                                            0
mths_issue_d                                                            0
Grade:A                                                                 0
Grade:B                                                                 0
Grade:C                                                                 0
Grade:D                                                                 0
Grade:E                                                                 0
Grade:F                                                                 0
Grade:G                                                                 0
Sub_grade:A1                                                            0
Sub_grade:A2                                                            0
Sub_grade:A3                                                            0
Sub_grade:A4                                                            0
Sub_grade:A5                                                            0
Sub_grade:B1                                                            0
Sub_grade:B2                                                            0
Sub_grade:B3                                                            0
Sub_grade:B4                                                            0
Sub_grade:B5                                                            0
Sub_grade:C1                                                            0
Sub_grade:C2                                                            0
Sub_grade:C3                                                            0
Sub_grade:C4                                                            0
Sub_grade:C5                                                            0
Sub_grade:D1                                                            0
Sub_grade:D2                                                            0
Sub_grade:D3                                                            0
Sub_grade:D4                                                            0
Sub_grade:D5                                                            0
Sub_grade:E1                                                            0
Sub_grade:E2                                                            0
Sub_grade:E3                                                            0
Sub_grade:E4                                                            0
Sub_grade:E5                                                            0
Sub_grade:F1                                                            0
Sub_grade:F2                                                            0
Sub_grade:F3                                                            0
Sub_grade:F4                                                            0
Sub_grade:F5                                                            0
Sub_grade:G1                                                            0
Sub_grade:G2                                                            0
Sub_grade:G3                                                            0
Sub_grade:G4                                                            0
Sub_grade:G5                                                            0
Home_ownership:ANY                                                      0
Home_ownership:MORTGAGE                                                 0
Home_ownership:NONE                                                     0
Home_ownership:OTHER                                                    0
Home_ownership:OWN                                                      0
Home_ownership:RENT                                                     0
Verification_status:Not Verified                                        0
Verification_status:Source Verified                                     0
Verification_status:Verified                                            0
Loan_status:Charged Off                                                 0
Loan_status:Current                                                     0
Loan_status:Default                                                     0
Loan_status:Does not meet the credit policy. Status:Charged Off         0
Loan_status:Does not meet the credit policy. Status:Fully Paid          0
Loan_status:Fully Paid                                                  0
Loan_status:In Grace Period                                             0
Loan_status:Late (16-30 days)                                           0
Loan_status:Late (31-120 days)                                          0
Purpose:car                                                             0
Purpose:credit_card                                                     0
Purpose:debt_consolidation                                              0
Purpose:educational                                                     0
Purpose:home_improvement                                                0
Purpose:house                                                           0
Purpose:major_purchase                                                  0
Purpose:medical                                                         0
Purpose:moving                                                          0
Purpose:other                                                           0
Purpose:renewable_energy                                                0
Purpose:small_business                                                  0
Purpose:vacation                                                        0
Purpose:wedding                                                         0
Addr_state:AK                                                           0
Addr_state:AL                                                           0
Addr_state:AR                                                           0
Addr_state:AZ                                                           0
Addr_state:CA                                                           0
Addr_state:CO                                                           0
Addr_state:CT                                                           0
Addr_state:DC                                                           0
Addr_state:DE                                                           0
Addr_state:FL                                                           0
Addr_state:GA                                                           0
Addr_state:HI                                                           0
Addr_state:IA                                                           0
Addr_state:ID                                                           0
Addr_state:IL                                                           0
Addr_state:IN                                                           0
Addr_state:KS                                                           0
Addr_state:KY                                                           0
Addr_state:LA                                                           0
Addr_state:MA                                                           0
Addr_state:MD                                                           0
Addr_state:ME                                                           0
Addr_state:MI                                                           0
Addr_state:MN                                                           0
Addr_state:MO                                                           0
Addr_state:MS                                                           0
Addr_state:MT                                                           0
Addr_state:NC                                                           0
Addr_state:NE                                                           0
Addr_state:NH                                                           0
Addr_state:NJ                                                           0
Addr_state:NM                                                           0
Addr_state:NV                                                           0
Addr_state:NY                                                           0
Addr_state:OH                                                           0
Addr_state:OK                                                           0
Addr_state:OR                                                           0
Addr_state:PA                                                           0
Addr_state:RI                                                           0
Addr_state:SC                                                           0
Addr_state:SD                                                           0
Addr_state:TN                                                           0
Addr_state:TX                                                           0
Addr_state:UT                                                           0
Addr_state:VA                                                           0
Addr_state:VT                                                           0
Addr_state:WA                                                           0
Addr_state:WI                                                           0
Addr_state:WV                                                           0
Addr_state:WY                                                           0
Initial_list_status:f                                                   0
Initial_list_status:w                                                   0
dtype: int64

## 4 - PD Model

### 4.1) Data Preparation

#### Dependent Variable | Good / Bad (Default Definition) | Default and Non-Default Accounts

In [38]:
loan_df['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

*   **Not Defaulted**
   *   *Fully Paid*
   *   *Current*
   *   *In Grace Period*
   *   *Late (16-30 days)*
   *   *Does not meet the credit policy. Status:Fully Paid*

*   **Defaulted**
   *   *Charged Off*
   *   *Default*
   *   *Does not meet the credit policy. Status:Charged Off*
   *   *Late (31-120 days)*

In [39]:
(loan_df['loan_status'].value_counts() / loan_df.shape[0])*100

Current                                                48.087757
Fully Paid                                             39.619332
Charged Off                                             9.109236
Late (31-120 days)                                      1.479782
In Grace Period                                         0.674695
Does not meet the credit policy. Status:Fully Paid      0.426349
Late (16-30 days)                                       0.261214
Default                                                 0.178432
Does not meet the credit policy. Status:Charged Off     0.163205
Name: loan_status, dtype: float64

In [40]:
'''
Create a new Feature, to indicate default

  1 - Not Defaulted
  0 - Default
'''

loan_df['good_bad'] = np.where(loan_df['loan_status'].isin(['Charged Off','Default',
                                                            'Does not meet the credit policy. Status:Charged Off',
                                                            'Late (31-120 days)']),0,1)

### Split Data into Train and Test Sets

In [45]:
loan_data_inputs_train, loan_data_inputs_test, loan_data_targets_train, loan_data_targets_test = train_test_split(loan_df.drop('good_bad', axis=1), loan_df['good_bad'], test_size=0.2, random_state = 14)